body {
    background-color: #6a0dad;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#buttons {
    display: flex;
    gap: 10px;
}

.btn, .stop {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4b0082;
    color: white;
    font-size: 16px;
}

.stop {
    background-color: #ff0000;
}
